header {
    display: flex;
    justify-content: center;
    background-color: #0074D9;
    nav {
        margin-top: 10px;
        margin-bottom: 10px;
        min-width: 80%;
        color: #fff;
    }
}